
//  Desktop
//  _____________________________________________
//
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .navigation ul {
    text-align: center;
  }
}

//.page-header {
//  .panel.wrapper{
//    background-color: #ede3de;
//    text-align: center;
//  }
//
//  .header.content{
//    background: url('../images/img-header.png')top center;
//  }
//
//}


.navigation {
  background: unset;
  background-color:transparent !important;
  border-color:transparent;
  background-image:none;
  box-shadow:none;
}
.nav-sections {
  background: unset;
}

 .navigation li a {
  font-size:20px;
  color:#fff;
}



.logo img {
  margin-top: -60px;
}


.page-main{
  max-width: unset;
  padding: 0;
 }
.main-content-first{
  //position: relative;
}

.main-content-first img {
  margin-top: -7%;
  max-width: unset;
}

.main-content-first .block-content-five-mini{
  width: 460px;
  position: absolute;
  margin: -700px 0 0 1200px;
  text-align: center;
}

.main-content-first .block-content-five-mini .content_five_mini_child_5_2 strong{
  border-bottom: solid 2px;
}

.content-one{
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto;
  padding: 0 50px;
}
.content-one-child{
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto;
}

.content-one .content-one-mini-child-1-2 h3, .content-one-mini-child-2-2 h3{
  float: right;
  font-weight: bold;
  border-bottom: solid 2px;
}

.content-one img{
  height: 985px;
}


.content-two{
  padding: 40px 50px;
}

.content-two img{
  height: 1000px;
}

.content-two .content-two-mini-child-1-1 h3{
  font-size: 35px;
}

.content-two .main-content-two-child-1-2{
  position: absolute;
  width: 320px;
  display: inline-block;
  margin: -700px 0 0 1360px;
  background: beige;
  padding: 40px 60px;
}

.content-two .main-content-two-child-1-2 .content-two-mini-child-1-2{
  padding-top:15px;
}

.content-two .main-content-two-child-1-2 .content-two-mini-child-1-2 strong{
  border-bottom: solid 2px black;
}

.content-three{
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 0 50px;
}
.content-three  .main-content-three-child-1-2,
                .main-content-three-child-2-2,
                .main-content-three-child-3-2 {
  text-align: center;
}
.content-three  .main-content-three-child-1-2 strong,
                .main-content-three-child-2-2 strong,
                .main-content-three-child-3-2 strong {
  border-bottom: solid 2px black;
}

.content-four{}
.content-four .main-content-four-child-2{
  position: absolute;
  width: 320px;
  margin: -680px 0 0 750px;
  background-color: #ede3de;
  padding: 40px 60px;

}
.content-four .main-content-four-child-2 p{
  padding-top:20px
}
.content-four .main-content-four-child-2 strong{
  border-bottom: solid 2px black;
}
.content-four .main-content-four-child-2 .content-four-mini-child-4-1 h3{
  font-size: 35px;
}

.footer_links_account_join{
width: 29%;
display: inline-block;
}

.footer.content{
  .block{
    float: unset;
    width: 44%;
    display: inline-block;
    padding: 0 50px 0 0;
  }
  .links {
    float: right;
  }
}


















